<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
        <title>{% block title %}VSCP Maintenance Interface{% endblock %}</title>
        {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
      {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          <a class="navbar-brand" href="{{ path('vscpmaint_home') }}"><span class="glyphicon glyphicon-home" /></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'Data'   | trans }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('vscpmaint_vscpclass') }}">{{ 'Classes' | trans }}</a></li>
                <li><a href="{{ path('vscpmaint_vscptype') }}">Types</a></li>
                <li><a href="{{ path('vscpmaint_vscpbyte') }}">{{ 'Bytes' | trans }}</a></li>
                <li><a href="{{ path('vscpmaint_vscpunit') }}">{{ 'Units' | trans }}</a></li>
              </ul>
            </li>
                {% if is_granted('ROLE_USER') %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'Admin'   | trans }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('vscpmaint_user') }}">{{ 'Users' | trans }}</a></li>
              </ul>
            </li>
                {% endif %}
            <li><a href="{{ path('vscpmaint_about') }}">{{ 'About' | trans }}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            {% if app.user %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user" /> {{ app.user.firstname }} <b class="caret"></b></a>
            {% else %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user" /> {{ 'Anonymous' | trans }} <b class="caret"></b></a>
            {% endif %}
                <ul class="dropdown-menu">
            {% if app.user %}
                  <li><a class="glyphicon glyphicon-log-out" href="logout"> {{ 'Logout' | trans }}</a></li>
            {% else %}
                  <li><a class="glyphicon glyphicon-log-in" href="login"> {{ 'Login' | trans }}</a></li>
                  <li><a class="glyphicon glyphicon-plus" href="register"> {{ 'Register' | trans }}</a></li>
            {% endif %}
                </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <br>
    <br>
    <br>
            <div class="container">

      <div class="row">
        <div id="content" class="span9">
    {% block body %}
    {% endblock %}
        </div>
      </div>

      <hr>

      <footer>
       <div class="container text-center">
            <p>Copyright &copy; 2000-2016 <a href="http://www.paradiseofthefrog.com">Paradise of the Frog AB</a><br /></p>
        </div>
      </footer>
    </div>

    {% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% endblock %}
    </body>
</html>
