<div>
<form action="{{ path('vscpmaint_vscpclassedit', {'id': vscpclass.id}) }}" method="post">

{{ form_errors(form) }}

<div class="input-group">
	<div class="form-group">
	  {{ form_label(form.vscpclass, "Class") }}
	  {{ form_errors(form.vscpclass) }}
	  {{ form_widget(form.vscpclass) }}
	</div>
	<div class="form-group">
	  {{ form_label(form.vscpclassName, "Class name") }}
	  {{ form_errors(form.vscpclassName) }}
	  {{ form_widget(form.vscpclassName) }}
	</div>
	<div class="form-group">
	  {{ form_label(form.vscpclassToken, "Class token") }}
	  {{ form_errors(form.vscpclassToken) }}
	  {{ form_widget(form.vscpclassToken) }}
	</div>
	<div class="form-group">
	  {{ form_label(form.vscpclassDescription, "Description") }}
	  {{ form_errors(form.vscpclassDescription) }}
	  {{ form_widget(form.vscpclassDescription) }}
	</div>
	{{ form_rest(form) }}

	<div>
	  <input type="submit" class="btn btn-primary" />
	</div>
</div>

</form>
</div>
