{% extends 'base.html.twig' %}

{% block body %}
  <h2>{{ 'Bytes' | trans }}</h2>

  <div>
    {{ form_start(form, {'action' : path('vscpmaint_vscpbyte') }) }}
    {{ form_errors(form) }}
      <div class="input-group">
        <div class="form-group">
          {{ form_errors(form.VscptypeName) }}
          {{ form_widget(form.VscptypeName, {'attr':{'onChange': 'javascript:document.vscp_type_list.submit()'}}) }}
          {{ form_rest(form) }}

          <a class="btn btn-primary" href="{{ path('vscpmaint_vscpbyteadd') }}">{{ 'Add' | trans }}</a>
        </div>
      </div>
        <div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>{{ 'Byte' | trans }}</th>
                  <th>{{ 'Class/Type' | trans }}</th>
                  <th>{{ 'NByte' | trans }}</th>
                  <th>{{ 'Description' | trans }}</th>
                  <th colspan = 2>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
{% if vscpbyte is defined %}
			  {% for vscpbyte in vscpbyte %}
                <tr>
                  <td>{{ vscpbyte.vscpbyte | trans }}</td>
                  <td>{{ vscpbyte.vscpclassName }}/{{ vscpbyte.vscptypeName }}</td>
                  <td>{{ vscpbyte.vscpnbyte | trans }}</td>
                  <td>{{ vscpbyte.vscpbyteDescription | slice(0, 100) }}...</td>
                  <td>
                    <a class="btn glyphicon glyphicon-eye-open" href="#" title="View details">
        {% if app.user %}
                    <a class="btn glyphicon glyphicon-pencil" href="{{ path('vscpmaint_vscpbyteedit', {'id': vscpbyte.id}) }}" title="Change byte">
                    <a class="btn glyphicon glyphicon-trash" href="{{ path('vscpmaint_vscpbytedelete', {'id': vscpbyte.id}) }}" title="Delete byte">
        {% endif %}
                   </td>
                </tr>
			  {% else %}
			    <p>{{ 'No record in this table' | trans }}.</p>
			  {% endfor %}
{% endif %}
              </tbody>
            </table>
          </div>
      </div>


{% endblock %}


