<div>
<form action="{{ path('vscpmaint_vscpbyteedit', {'id': vscpbyte.id}) }}" method="post">

{{ form_errors(form) }}

<div class="input-group">
	<div class="form-group">
	  {{ form_label(form.vscpbytetype, "Type") }}
	  {{ form_errors(form.vscpbytetype) }}
	  {{ form_widget(form.vscpbytetype) }}
	</div>
	<div class="form-group">
	  {{ form_label(form.vscpbyte, "Byte") }}
	  {{ form_errors(form.vscpbyte) }}
	  {{ form_widget(form.vscpbyte) }}
	</div>
	<div class="form-group">
	  {{ form_label(form.vscpbyteDescription, "Description") }}
	  {{ form_errors(form.vscpbyteDescription) }}
	  {{ form_widget(form.vscpbyteDescription) }}
	</div>
	{{ form_rest(form) }}

	<div>
	  <input type="submit" class="btn btn-primary" />
	</div>
</div>

</form>
</div>
