{% extends 'base.html.twig' %}

{% block body %}

  <h2>{{ 'Delete a byte' | trans }}</h2>

  <p>
    {{ 'Confirm you want to delete byte' | trans }} : {{ vscpbyte.vscpbyte }}.
  </p>

  <form action="{{ path('vscpmaint_vscpbytedelete', {'id': vscpbyte.id}) }}" method="post">
    <a href="{{ path('vscpmaint_vscpbyte')}}" class="btn btn-default glyphicon glyphicon-chevron-left">
      Back
    </a>
    <input type="submit" value="Delete" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>

{% endblock %}