<div class="sidenav">
<h3>Event classes</h3 >

{% for vscpclass in vscpclass %}

	<li><a href="{{ path('vscpmaint_indexbrowser', {'id': vscpclass.id}) }}">{{ vscpclass.vscpclassToken }}({{vscpclass.vscpclass}})</a></li>

		{% if selectedclass is defined %}
			{% if vscpclass.id == selectedclass.id %}

				{% for vscptype in vscptype %}
			
				<li>&nbsp;<a href="{{ path('vscpmaint_typedetail', {'id': vscptype.id}) }}">{{ vscptype.vscptype }}-{{ vscptype.vscptypeName }}</a></li>

				{% endfor%}
			{% endif %}
		{% endif %}

		{% if selectedtype is defined %}
			{% if vscpclass.id == selectedtype.vscptypeclass.id %}

				{% for vscptype in vscptype %}
			
				<li>&nbsp;<a href="{{ path('vscpmaint_typedetail', {'id': vscptype.id}) }}">{{ vscptype.vscptype }}-{{ vscptype.vscptypeName }}</a></li>

				{% endfor%}
			{% endif %}
		{% endif%}


{% endfor %}


</div>