{% extends 'base.html.twig' %}

{% block body %}
  <h2>{{ 'Units' | trans }}</h2>

  <div>
    {{ form_start(form, {'action' : path('vscpmaint_vscpunit') }) }}
    {{ form_errors(form) }}
      <div class="input-group">
        <div class="form-group">
          {{ form_errors(form.VscptypeName) }}
          {{ form_widget(form.VscptypeName) }}
          {{ form_rest(form) }}

          <input type="submit" class="btn btn-primary" value="Show"/>

          <a class="btn btn-primary" href="{{ path('vscpmaint_vscpunitadd') }}">{{ 'Add' | trans }}</a>
        </div>
      </div>
        <div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>{{ 'Unit' | trans }}</th>
                  <th>{{ 'Class/Type' | trans }}</th>
                  <th>{{ 'NUnit' | trans }}</th>
                  <th>{{ 'Description' | trans }}</th>
                  <th colspan = 2>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
{% if vscpunit is defined %}
			  {% for vscpunit in vscpunit %}
                <tr>
                  <td>{{ vscpunit.vscpunit | trans }}</td>
                  <td>{{ vscpunit.vscpclassName }}/{{ vscpunit.vscptypeName }}</td>
                  <td>{{ vscpunit.vscpnunit | trans }}</td>
                  <td>{{ vscpunit.vscpunitDescription | slice(0, 100) }}...</td>
                  <td>
                    <a class="btn glyphicon glyphicon-pencil" href="{{ path('vscpmaint_vscpunitedit', {'id': vscpunit.id}) }}" title="Change unit">
                    <a class="btn glyphicon glyphicon-trash" href="{{ path('vscpmaint_vscpunitdelete', {'id': vscpunit.id}) }}" title="Delete unit">
                    <a class="btn glyphicon glyphicon-eye-open" href="#" title="View details">
                   </td>
                </tr>
			  {% else %}
			    <p>{{ 'No record in this table' | trans }}.</p>
			  {% endfor %}
{% endif %}
              </tbody>
            </table>
          </div>
      </div>


{% endblock %}


