<div>
<form action="{{ path('vscpmaint_vscpunitedit', {'id': vscpunit.id}) }}" method="post">

{{ form_errors(form) }}

<div class="input-group">
	<div class="form-group">
	  {{ form_label(form.vscpunit, "Unit") }}
	  {{ form_errors(form.vscpunit) }}
	  {{ form_widget(form.vscpunit) }}
	</div>
	<div class="form-group">
	  {{ form_label(form.vscpnunit, "NUnit") }}
	  {{ form_errors(form.vscpnunit) }}
	  {{ form_widget(form.vscpnunit) }}
	</div>
	<div class="form-group">
	  {{ form_label(form.vscpunittype, "Type") }}
	  {{ form_errors(form.vscpunittype) }}
	  {{ form_widget(form.vscpunittype) }}
	</div>
	<div class="form-group">
	  {{ form_label(form.vscpunitDescription, "Description") }}
	  {{ form_errors(form.vscpunitDescription) }}
	  {{ form_widget(form.vscpunitDescription) }}
	</div>
	{{ form_rest(form) }}

	<div>
	  <input type="submit" class="btn btn-primary" />
	</div>
</div>

</form>
</div>
