{% extends 'base.html.twig' %}

{% block body %}

  <h2>{{ 'Delete a unit' | trans }}</h2>

  <p>
    {{ 'Confirm you want to delete unit' | trans }} : {{ vscpunit.vscpunit }}.
  </p>

  <form action="{{ path('vscpmaint_vscpunitdelete', {'id': vscpunit.id}) }}" method="post">
    <a href="{{ path('vscpmaint_vscpunit')}}" class="btn btn-default glyphicon glyphicon-chevron-left">
      Back
    </a>
    <input type="submit" value="Delete" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>

{% endblock %}