{% extends 'base.html.twig' %}

{% block body %}
  <h2>{{ 'Types' | trans }}</h2>

  <div>
    {{ form_start(form, {'action' : path('vscpmaint_vscptype') }) }}
    {{ form_errors(form) }}
      <div class="input-group">
        <div class="form-group">
          {{ form_errors(form.vscpclassName) }}
          {{ form_widget(form.vscpclassName) }}
          {{ form_rest(form) }}

          <input type="submit" class="btn btn-primary" value="Show"/>

          <a class="btn btn-primary" href="{{ path('vscpmaint_vscptypeadd') }}">{{ 'Add' | trans }}</a>
        </div>
      </div>
        <div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>{{ 'Type' | trans }}</th>
                  <th>{{ 'Name' | trans }}</th>
                  <th>{{ 'Class' | trans }}</th>
                  <th>{{ 'Description' | trans }}</th>
                  <th colspan = 2>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
{% if vscptype is defined %}
			  {% for vscptype in vscptype %}
                <tr>
                  <td>{{ vscptype.vscptype | trans }}</td>
                  <td>{{ vscptype.vscptypeName | trans }}</td>
                  <td>{{ vscptype.vscpclassName | trans }}</td>
                  <td>{{ vscptype.vscptypeDescription | slice(0, 100) }}...</td>
                  <td>
                    <a class="btn glyphicon glyphicon-pencil" href="{{ path('vscpmaint_vscptypeedit', {'id': vscptype.id}) }}" title="Change type">
                    <a class="btn glyphicon glyphicon-trash" href="{{ path('vscpmaint_vscptypedelete', {'id': vscptype.id}) }}" title="Delete type">
                    <a class="btn glyphicon glyphicon-eye-open" href="#" title="View details">
                   </td>
                </tr>
			  {% else %}
			    <p>{{ 'No record in this table' | trans }}.</p>
			  {% endfor %}
{% endif %}
              </tbody>
            </table>
          </div>
      </div>


{% endblock %}


